body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(87, 87, 87);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body>div {
    width: 73%;
    height: 100vh;
    display: flex;
    box-shadow: 0px 0px 10px;
}

#layout_1 {
    background-image: url('kevin-charit-r-QpUNyC5Bc-unsplash.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.43 0 0;
    justify-content: space-between;
}

#layout_2 {
    background-color: rgb(154, 181, 200);
    flex: 0.57 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 30px;
}

#layout_2>div>* {
    margin-left: 50px;
}

#layout_2>:nth-child(1)>* {
    margin-top: 100px;
}

#layout_2>div {
    flex: 0.3 0 0;
}

#layout_2>form {
    flex: 0.4 0 0;
}

#layout_2>form>div+div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    font-size: 15px;
    height: 70%;
}

form>div {
    margin-left: 50px;
    margin-top: 20px;
}

form>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#GO {
    font-size: 40px;
}

input {
    width: 230px;
    height: 25px;
}

#author {
    background-color: rgba(136, 136, 136, 0.41);
    padding: 5px;
    margin-bottom: 10px;
}

#author, #author a {
    color: rgb(248, 248, 248);
}

#form {
    background-color: rgb(209, 225, 235);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.216);
}

#logo {
    background-color: rgba(0, 0, 0, 0.354);
    margin-top: 200px;
    width: 100%;
    padding: 25px 0px;
    text-align: center;
    font-size: 70px;
    color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family:fantasy
}

#logo>img {
    width: 100px;
    filter: invert();
}

button {
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 30px;
}